<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>¡Gracias!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container" style="text-align: center;">
        <img src="{{ url_for('static', filename='img/nosotros_gracias.jpg') }}" alt="Nosotros" class="agradecimiento-img">
        <h1>¡Muchas gracias por tu regalo! 💚</h1>
        <p>Tu aporte hará posible una experiencia que recordaremos con mucho cariño.</p>
        <p>Nos alegra que seas parte de este momento tan importante para nosotros.</p>
        <br>
        <a href="/" style="text-decoration:none;">
            <button>Volver a la página principal</button>
        </a>
    </div>
</body>
</html>
