<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regalos de Experiencias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">

        <!-- Bienvenida -->
        <div class="bienvenida">
            <img src="{{ url_for('static', filename='img/nosotros.jpg') }}" alt="Nosotros">
            <div class="texto-bienvenida">
                <h1>¡Gracias por acompañarnos en este momento tan especial!</h1>
				<p>¡Regálanos momentos inolvidables! ✨</p>
                <p>Sabemos que viajar hasta nuestro matrimonio implica un esfuerzo importante (¡y lo agradecemos un montón! ❤), pero si aún así quieren regalonearnos, pensamos en una forma especial: compartir con ustedes experiencias que marcarán el inicio de nuestra vida juntos 💛</p>
				<p>Elegimos vivencias que soñamos disfrutar como pareja, y si quieren ser parte de ellas, pueden regalarnos alguna (en muchos de estas ustedes son los protagonistas 🥰)</p>
				<p>¿Cómo funciona?</p>
				<p>1. Exploren las experiencias disponibles y seleccionen la que les gustaría regalarnos. (Se puede seleccionar más de una)</p>
				<p>2. Estas se agregarán automáticamente a un carrito de compras.</p>
				<p>3. Al finalizar, la página les pedirá su nombre, correo y un mensaje especial que nos llegará directamente a nosotros 🥰</p>
				<p>4. Luego, podrán realizar el pago por el monto seleccionado, a través de Slach, una plataforma chilena segura, utilizando el banco que prefieran.</p>
				<p>5. ¡Y listo! Recibirán un correo de confirmación (puede tardar algunos minutos).</p>
				<p>🌟 No se preocupen si una experiencia ya fue regalada, se puede repetir sin problema. Cada vivencia suma a esta aventura juntos.</p>
				<p>Esta página fue creada por nosotros de forma muy casera y mucho amor. Si algo no funciona bien o tienen dudas, escríbannos con toda confianza!</p>
				<p>Les agradecemos mucho desde ya!</p>
				<p>Con cariño,</p>
				<p>Mati & Cote 🤍</p>
            </div>
        </div>

        <label>Selecciona una o más experiencias:</label>
		<div class="cards">
			{% for exp in experiencias %}
			<div class="card {% if exp.regalado %}regalado{% endif %}">
				<img src="{{ url_for('static', filename=exp.imagen) }}" alt="{{ exp.nombre }}">
				<div class="card-content">
					<h3>{{ exp.nombre }}</h3>
					<p class="precio">${{ "{:,}".format(exp.precio) }}</p>
					<p class="descripcion">{{ exp.descripcion }}</p>

					{% if exp.regalado %}
						<p style="color: crimson; font-weight: bold;">YA REGALADO</p>
					{% endif %}
					<form action="/agregar" method="post">
						<input type="hidden" name="nombre_exp" value="{{ exp.nombre }}">
						<input type="hidden" name="precio_exp" value="{{ exp.precio }}">
						<input type="hidden" name="descripcion_exp" value="{{ exp.descripcion }}">
						<button type="submit">Agregar al carrito</button>
					</form>
				</div>
			</div>
			{% endfor %}
		</div>

		<div style="text-align:center; margin-top: 30px;">
			<a href="{{ url_for('carrito') }}" style="text-decoration:none;">
				<button type="button">Ver carrito</button>
			</a>
		</div>

    </div>
</body>
</html>
